/* line under logo */
hr {
    border-color: solid black;
}

/* logo aligned to left */
.logocontainer {
    text-align: left;
    border-style: none;
}   

/* product images */
img.imagelayout {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.button {
    display: block;
    text-align: center;
    background-color: white;
    border: none;
    margin: auto;

}

/* Product hilighted when hovered */
.button:hover {
    font-weight: bold;
    border:none;
    background-color: yellow;

}

/* Product name bolds when hovered */
.boldname:hover {
    font-weight: bold;
}

/* Dropdown label style */
.dropdown {
    display: block;
    text-align: left;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding-bottom: 1%;
    padding-top:  1%;

}

/* boxxed button*/
.boxbutton {
    display: block;
    text-align: center;
    margin: auto;
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 1% ;

}

.boxbutton:hover {
    background-color: yellow;
  
}

/* hilighted page */
h2 span {
    background-color: yellow;    
}

body {

    background-color: white ;
    text-align: center;
}

h2 {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: large;


}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* Price Headers */

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: small;
}

/*Detail product Header */

h5 {
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
}

/* Tiny Remove Buttons */
h6 {    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small ;
    font-weight: bold;
}

/* Roll Descriptions in cart */
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: unset;
    font-weight: 100;
    font-size: small ;
}